* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: #C4C4C4;
}

body {
    background-color: #F5F6F2
}

/*site skeleton styles*/

.site {
    overflow: hidden;
    width: 60%;
    height: auto;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}

.content,
.sidebar {
    background-color: #ffffff;
}

.content {
    float: left;
    width: 69%;
}

.sidebar {
    float: right;
    width: 29%;
}


/*content-header styles*/

.content-header {
    overflow: hidden;
    margin: 2em 3em;
}

.content-header-userIcon {
    float: left;
}

.content-header-userIcon i {
    font-size: 4em;
}

.content-header-title {
    float: left;
    padding: 0 1em;
}

.content-header-title-text {
    height: 50%;
    letter-spacing: normal;
    font-weight: 800;
    font-size: 2em;
    color: #313131;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.content-header-title-info i,
.content-header-title-info span {
    margin-right: 0.3em;
}


/*content-image styles*/

.content-image {
    width: 100%;
    position: relative;
    padding-bottom:56.25%;
    margin-bottom: 2.4em;
}

.content-image-container {
    position:absolute;
    width:100%;
    height:100%;
    background-color: black; 
}

.content-image img {
    width:100%;
    height:100%;
    object-fit: contain;
}

.content-image-pincil {
    position: absolute;
    bottom: 0;  
    left: 50%;
    transform: translate(-50%, 50%); 
}

.content-image-pincil>i{
    padding: 0.3em;
    font-size: 3em;
    border-radius: 50%; 
    background-color: #ffffff;
    color: #6DC169;
}

/*content-text styles*/
.content-text{
    margin: 0 4em 4em 4em ;
    line-height: 1.5;
}

/*content-footer styles*/
.content-footer{
    float: right;
    height: auto;
    width: auto;
    letter-spacing : -.36em;
}

.content-footer a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900; 
    color: #fff;
}

.content-footer-social a{
    background-color: #000;
    padding: 0.75em 1em;
}

.content-footer-readMore {
    background-color: #61C276;
    padding: 0.75em 1.5em;
    display: inline-block;
}

.content-footer-social{
    display: inline-block;
}
